*.pyc
*/*.pyc
extraStuff/fastgcd/*
.DS_Store
*/.DS_Store
*.txt
*/*.txt
extraStuff/getKeys/*
!extraStuff/getKeys/*.py
!extraStuff/getKeys/*.sh
*.swp
*.ip
extraStuff/myscraper/domain
extraStuff/sslscan/res/*
