*.pyc
*/*.pyc
extraStuff/fastgcd/*
.DS_Store
*/.DS_Store
*.txt
*/*.txt
!extraStuff/getKeys/*.py
!extraStuff/getKeys/*.sh
extraStuff/getKeys/*
!extraStuff/getKeys/getIP
!extraStuff/getKeys/getIP/*.py
!extraStuff/getKeys/getIP/*.sh
extraStuff/getKeys/getIP/
*.swp
*.ip
extraStuff/myscraper/domain
extraStuff/sslscan/res/*
